.buttonStyle {
  border: 1px solid black;
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: normal;
}

.buttonStyle:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
}
